.burger-menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 64px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $static-white;
    border-radius: 20px;
    transform: translateX(100%);
    transition: all 0.6s ease-out;

    @include media-tablet {
        display: inline-flex;
    }
}


.burger-menu_visible {
    transform: translateX(0);
}


.burger__navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: -30px;

    a {
        @include header(24px, 600, 36.48px, 3.84px, center, $dark);
        text-decoration: none;
        padding: 12px 20px;
    }
}


.burger {
    display: none;
    position: relative;
    width: 40px;

    &::after {
        content: "";
        width: 20px;
        height: 1px;
        position: absolute;
        bottom: calc( 16px - 0.5px );
        right: calc( 50% - 10px );
        background-color: $dark;
        border-radius: 1px;
        transition: all 0.3s ease;
    }
    &::before {
        content: "";
        width: 20px;
        height: 1px;
        position: absolute;
        top: calc( 16px - 0.5px );
        right: calc( 50% - 10px );
        background-color: $dark;
        border-radius: 1px;
        transition: all 0.3s ease;
    }

    @include media-tablet {
        display: inline-block;
    }
}

.burger_cross {
    &::after {
        transform-origin: left;
        transform: rotate(-45deg) translate(0px, 4px);
    }

    &::before {
        transform-origin: left;
        transform: rotate(45deg) translate(0px, -4px);
    }
}


/* .disable-scrolling {
    overflow: hidden;
} */