@use '../base/variables.scss' as vars;
@use '../components/overlay.scss' as overlay;

.already-logged-overlay {
  @include overlay.overlay;
}

.already-logged-dialog {
  font-size: 1.5rem;
  color: vars.$text-error;
  background: vars.$bg-white;
  padding: 60px 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  min-width: 200px;
}

@media (max-width: 768px) {
  .already-logged-dialog {
    font-size: 1.2rem;
    padding: 40px 30px;
  }
}