* {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

header {
  max-width: 1440px;
  margin: auto;
  padding: 0 82px;
  background-color: #FFFFFF;
  position: relative;
}
@media (max-width: 796px) {
  header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  header {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #181C29;
}
.header__logo:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__logo:hover {
    cursor: default;
  }
}

.header__navigation {
  display: flex;
  gap: 8px;
}
.header__navigation a {
  padding: 12px 20px;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #181C29;
}
.header__navigation a:hover {
  background-color: rgba(255, 70, 70, 0.1019607843);
  border-radius: 12px;
  color: #FF4646;
}
@media (hover: none) and (pointer: coarse) {
  .header__navigation a:hover {
    background-color: transparent;
    color: #181C29;
  }
}
.header__navigation .active {
  background-color: rgba(255, 70, 70, 0.1019607843);
  border-radius: 12px;
  color: #FF4646;
  pointer-events: none;
}
@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.burger {
  display: none;
  position: relative;
  width: 40px;
}
.burger::after {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  bottom: 15.5px;
  right: calc(50% - 10px);
  background-color: #181C29;
  border-radius: 1px;
  transition: all 0.3s ease;
}
.burger::before {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  top: 15.5px;
  right: calc(50% - 10px);
  background-color: #181C29;
  border-radius: 1px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .burger {
    display: inline-block;
  }
}

.burger-menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 64px;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  border-radius: 20px;
  transform: translateX(100%);
  transition: all 0.6s ease-out;
}
@media (max-width: 768px) {
  .burger-menu {
    display: inline-flex;
  }
}

.burger-menu_visible {
  transform: translateX(0);
}

.burger__navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.burger__navigation a {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  text-align: center;
  color: #181C29;
  text-decoration: none;
  padding: 12px 20px;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
}
.burger::after {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  bottom: 15.5px;
  right: calc(50% - 10px);
  background-color: #181C29;
  border-radius: 1px;
  transition: all 0.3s ease;
}
.burger::before {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  top: 15.5px;
  right: calc(50% - 10px);
  background-color: #181C29;
  border-radius: 1px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .burger {
    display: inline-block;
  }
}

.burger_cross::after {
  transform-origin: left;
  transform: rotate(-45deg) translate(0px, 4px);
}
.burger_cross::before {
  transform-origin: left;
  transform: rotate(45deg) translate(0px, -4px);
}

.disable-scrolling {
  overflow: hidden;
}

.gifts {
  max-width: 1440px;
  margin: auto;
  padding: 60px 82px;
  background-color: #FF4646;
  border-radius: 20px;
  background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/bg-garland.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* position: relative; */
}
@media (max-width: 796px) {
  .gifts {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  .gifts {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.title {
  font-family: Montserrat;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  max-width: 426px;
}

.tabs-container {
  display: flex;
  gap: 8px;
}
@media (max-width: 767px) {
  .tabs-container {
    gap: 0;
  }
}

.tab {
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background-color: transparent;
}
@media (max-width: 767px) {
  .tab {
    padding: 12px 8px;
  }
}
.tab:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
@media (hover: none) and (pointer: coarse) {
  .tab:hover {
    background-color: transparent;
    cursor: default;
  }
}

.tab_active {
  background-color: rgba(255, 255, 255, 0.2);
}
.tab_active:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: #ECF3F8;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__header {
  color: #FF4646;
}
@media (hover: none) and (pointer: coarse) {
  .card:hover {
    cursor: default;
  }
  .card:hover .card__header {
    color: #181C29;
  }
}
.card .card__label {
  width: 100%;
  height: 112px;
  padding: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card .card__tag {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: left;
  color: #181C29;
}
.card .card__tag_purple {
  color: #4361FF;
}
.card .card__tag_green {
  color: #06A44F;
}
.card .card__tag_pink {
  color: #FF43F7;
}
.card .card__header {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  text-align: left;
  color: #181C29;
}

.back-to-top {
  display: none;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #FF4646;
  border-radius: 100px;
  background-color: #FFFFFF;
  z-index: 99;
  position: fixed;
  bottom: 8px;
  right: 8px;
  /* @include media-tablet {
      display: flex;
  } */
}

.footer {
  max-width: 1440px;
  margin: auto;
  padding: 60px 82px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
@media (max-width: 796px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.contacts {
  display: flex;
  gap: 12px;
  width: 100%;
}
@media (max-width: 1210px) {
  .contacts {
    flex-direction: column;
  }
}

.contacts__card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1;
  background-color: #ECF3F8;
  border-radius: 20px;
  text-decoration: none;
}
.contacts__card:hover {
  cursor: pointer;
}
.contacts__card:hover .contacts__link {
  color: #FF4646;
}
.contacts__card:hover .contacts__label {
  color: #FF4646;
}
@media (hover: none) and (pointer: coarse) {
  .contacts__card:hover {
    cursor: default;
  }
  .contacts__card:hover .contacts__link {
    color: #181C29;
  }
  .contacts__card:hover .contacts__label {
    color: #181C29;
  }
}
.contacts__card .contacts__link {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  text-align: center;
  color: #181C29;
}
.contacts__card .contacts__label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  text-align: center;
  color: #181C29;
}

.link-container {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.link-container .link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.link-container .link:hover path {
  stroke: #FF4646;
}
@media (hover: none) and (pointer: coarse) {
  .link-container .link:hover path {
    stroke: #181C29;
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social .paragraph {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  text-align: center;
  color: #181C29;
}
.social .rsschool-link {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #181C29;
  text-decoration: none;
}
.social .rsschool-link:hover {
  color: #FF4646;
}
@media (hover: none) and (pointer: coarse) {
  .social .rsschool-link:hover {
    color: #181C29;
  }
}

.area-outside-the-modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #ECF3F8;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.modal__image-container {
  width: 100%;
  height: 230px;
  background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/gift-for-harmony.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal__label {
  padding: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__header-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal__header-container .modal__tag {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: left;
  color: #181C29;
}
.modal__header-container .modal__tag_pink {
  color: #FF43F7;
}
.modal__header-container .modal__header {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  text-align: left;
  color: #181C29;
}
.modal__header-container .modal__description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  text-align: left;
  color: #181C29;
}

.modal__details-container .modal__details-title {
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #181C29;
  margin-bottom: 8px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 12px;
}
.detail .detail__title {
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  text-align: left;
  color: #181C29;
}
.detail .detail__value {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  text-align: left;
  color: #181C29;
}
.detail .detail__graphic-value-container {
  display: flex;
  gap: 8px;
}
.detail .detail__graphic-value-container .value-point {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.modal__close-button::after {
  content: "";
  width: 28px;
  height: 2px;
  position: absolute;
  bottom: 19px;
  right: calc(50% - 14px);
  background-color: #181C29;
  border-radius: 100px;
  transform: rotate(-45deg);
}
.modal__close-button::before {
  content: "";
  width: 28px;
  height: 2px;
  position: absolute;
  top: 19px;
  right: calc(50% - 14px);
  background-color: #181C29;
  border-radius: 100px;
  transform: rotate(45deg);
}

/*# sourceMappingURL=gifts.css.map */
