.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: auto;
  max-width: 500px;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-input,
.password-input,
button[type='submit'],
button[type='button'] {
  width: 260px;
}

button[type='submit'],
button[type='button'] {
  font-size: 18px;
}

/* RESPONSE */
@media (max-width: 500px) {
  .login-container {
    max-width: 460px;
    padding: 20px;
  }
  .login-input,
  .password-input,
  button[type='submit'],
  button[type='button'] {
    width: 200px;
  }
}
