.login-container {
  background-color: #fff;
  margin: 0 10px 0 10px;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex-basis: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.login-buttons-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*------------*/
.validation-error {
  color: red;
  font-size: 12px;
  /* margin-top: 4px; */
  display: none;
}