@use '../../base/variables.scss' as vars;
@use '../../components/input' as inputStyles;

.login-container {
  background-color: vars.$bg-white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex-basis: 400px;
}

.login-container h2 {
  margin: 20px 0px;
  font-size: 2.4rem;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.login-buttons-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.validation-error {
  color: vars.$text-error;
  font-size: 1.2rem;
  display: none;
}

#user-name {
  @include inputStyles.input;
}

#user-password {
  @include inputStyles.input;
}

@media (max-width: 768px) {
  .login-container h2 {
    font-size: 2rem;
  }

  #user-name, #user-password {
    font-size: 1.2rem;
  }

  .validation-error {
    font-size: 1rem;
  }
}