.about {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 40px 32px 32px 32px;
  max-width: 700px;
  width: 100%;
  text-align: center;
}
.about h2 {
  font-size: 28px;
  font-weight: bold;
}

.about p {
  font-size: 18px;
}

.back-button {
  width: 200px;
  height: 50px;
  font-size: 18px;
}

/* RESPONSE */
@media (max-width: 768px) {
  .about {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .about {
    width: 85%;
    padding: 20px 10px;
    gap: 10px;
  }
  .about h2 {
    font-size: 24px;
  }
  .about p {
    font-size: 14px;
  }
  .about a {
    font-size: 14px;
  }
  .back-button {
    font-size: 16px;
  }
}
