$static-gray: #f4f4f4;
$secret-word: rgb(13, 188, 42);
$incorrect: red;
$button-background: rgba(84, 85, 172, 1);
$button-background-hover: rgba(84, 85, 172, 0.774);
$button-background-pressed: rgb(84 85 172 / 45%);
$modal-secret-word: orange;
