$dark: #181C29;
$primary: #FF4646;
$primary-10: #FF46461A;
$static-white: #FFFFFF;
$static-white-20: #FFFFFF33;
$static-white-40: #FFFFFF66;
$content-background: #ECF3F8;
$tag-purple: #4361FF;
$tag-pink: #FF43F7;
$tag-green: #06A44F;