@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: $static-white;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}