* {
    font-size: 10px;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background-color: $static-white;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}