.gallows-container {
    //border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gallows-image {
    width: 100%;
    height: 100%;
    background-image: url("/hmtask/sobdima-JSFEEN2024Q4/hangman/assets/gallows-0.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.game-title {
    font-size: 2rem;
    text-transform: uppercase;

    @include media-tablet-transit {
        display: none;
    }
}