@charset "UTF-8";

@import "base/colors";
@import "base/core";
@import "base/mixins";

@import "hangman-container.scss";
@import "keyboard-container.scss";
@import "gallows-container.scss";
@import "modal.scss";