body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d9d9d9;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #d9d9d9;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #000;
}

input::placeholder {
  color: #aaa;
}
