/* - chat-container -*/
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 40px);
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

//#e1e3ec