/*COLORS*/
$background: #F3F6FC;
$bg-primary: #e1e3ec;
$bg-left: #ECEEF4;
$bg-white: #FFFFFF;
$bg-message: #f3f3f4;
$bg-message-sent: #e0e0e0;

$border: #D5D8DF;
$border-dark: #a6a8ad;

$primary: #2B6EEA;

$text: #2B2F36;
$text-white: #FFFFFF;
$text-status: #7a7a7a;
$text-error: #e91010;

$online: #3CC76A;
$offline: #A8AEBB;

$overlay: #000000b3;

/*FONT-SIZE*/
$primary-text: 1.5rem;
$tablet-text: 1.2rem;