@charset "UTF-8";


@import "./base/colors";
@import "./base/core";
@import "./base/mixins";

@import "./home-page/header.scss";
@import "./home-page/burger-menu.scss";
@import "./home-page/hero.scss";
@import "./home-page/about.scss";
@import "./home-page/slider.scss";
@import "./home-page/best-gifts.scss";
@import "./home-page/cta.scss";
@import "./home-page/footer.scss";