@use '../../base/variables.scss' as vars;

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 20px;
  min-width: 350px;
  max-width: 600px;
  background-color: vars.$bg-white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.about-text {
  font-size: 1.6rem;
  line-height: 180%;
  text-align: justify;
}

.about-link {
  font-size: 1.2rem;
  color: vars.$primary;
}

#back-button:hover {
  background-color: vars.$bg-primary;
}

/* RESPONSE */
@media (max-width: 768px) {
  .about-text {
    font-size: 1.4rem;
    line-height: 160%;
  }
}
