* {
  font-size: 10px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: "Sour Gummy", serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

@media (max-width: 767px) {
  body {
    padding: 0 20px;
  }
}
@media (max-width: 360px) {
  body {
    padding: 0 10px;
  }
}

.hangman-container {
  max-width: 1360px;
  min-height: 600px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 30px;
  grid-template-columns: calc(40% - 15px) calc(60% - 15px);
}
@media (max-width: 768px) {
  .hangman-container {
    padding: 15px;
    grid-template-columns: calc(40% - 8px) calc(60% - 8px);
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .hangman-container {
    grid-template-columns: 1fr;
    grid-template-rows: calc(40% - 16px) 60%;
    min-height: calc(100vh - 40px);
  }
}
@media (max-width: 360px) {
  .hangman-container {
    padding: 10px;
    gap: 10px;
  }
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .keyboard-container {
    gap: 10px;
  }
}

.word {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
@media (max-width: 768px) {
  .word {
    gap: 8px;
  }
}

.letter {
  font-size: 32px;
  font-weight: 600;
  color: rgb(13, 188, 42);
}
@media (max-width: 767px) {
  .letter {
    font-size: 28px;
  }
}

.hint-container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 767px) {
  .hint-container {
    margin: 0 10px;
    gap: 8px;
  }
}

.hint-title {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .hint-title {
    font-size: 18px;
  }
}

.guesses-title {
  font-size: 21px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .guesses-title {
    font-size: 18px;
  }
}

.incorrect-guesses {
  font-size: 21px;
  color: red;
}
@media (max-width: 767px) {
  .incorrect-guesses {
    font-size: 18px;
  }
}

.keyboard {
  font-size: 16px;
  margin: 20px 120px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .keyboard {
    margin: 10px 40px;
  }
}
@media (max-width: 768px) {
  .keyboard {
    margin: 10px 20px;
  }
}
@media (max-width: 360px) {
  .keyboard {
    margin: 10px 0;
    font-size: 14px;
  }
}

button {
  width: 45px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(84, 85, 172);
  color: white;
  font-size: 16px;
  font-family: "Sour Gummy", serif;
}
button:hover {
  cursor: pointer;
  background-color: rgba(84, 85, 172, 0.774);
}
@media (hover: none) and (pointer: coarse) {
  button:hover {
    background-color: rgb(84, 85, 172);
    cursor: default;
  }
}
@media (max-width: 768px) {
  button {
    width: 40px;
  }
}
@media (max-width: 767px) {
  button {
    width: 35px;
    height: 35px;
  }
}

.button_focused {
  cursor: pointer;
  background-color: rgba(84, 85, 172, 0.774);
}

button.button_pressed {
  background-color: rgba(84, 85, 172, 0.45);
  cursor: default;
}

.gallows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gallows-image {
  width: 100%;
  height: 100%;
  background-image: url("./assets/gallows-0.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.game-title {
  font-size: 2rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .game-title {
    display: none;
  }
}

.area-outside-the-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  transition: display 1s ease;
}

.area-outside-the-modal_enabled {
  display: block;
}

.area-outside-the-modal_disabled {
  display: none;
}

.modal {
  width: 400px;
  height: 400px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 152;
}
@media (max-width: 767px) {
  .modal {
    width: 300px;
    height: 350px;
  }
}

.modal__congrats {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(13, 188, 42);
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.modal__congrats_red {
  color: red;
}

.modal__title {
  font-size: 24px;
}

.modal__word {
  font-size: 24px;
  text-transform: uppercase;
  color: orange;
}

.modal__button {
  font-family: "Sour Gummy", serif;
  font-size: 24px;
  width: 60%;
  height: 60px;
}
.modal__button:hover {
  cursor: pointer;
  background-color: rgba(84, 85, 172, 0.774);
}
@media (hover: none) and (pointer: coarse) {
  .modal__button:hover {
    background-color: rgb(84, 85, 172);
    cursor: default;
  }
}

/*# sourceMappingURL=style.css.map */
