.about {
    @include container-style($primary, 60px);

    background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about__content {
    display: flex;
    width: 100%;
    border-radius: 20px;
    background-color: $static-white;

    @include media-tablet-transit {
        flex-direction: column;
    }
}


.text-wrapper {
    flex: 1 1 50%;

    @include media-tablet-transit {
        flex: 1 1 auto;
        height: auto;
    }
}


.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 100px 152px 100px 60px;
    padding: 60px 0;

    .caption {
        @include caption($primary);
    }
    .title {
        @include header(24px, 600, 36.48px, 3.84px, left, $dark)
    }
    .paragraph {
        @include paragraph;
    }

    @include media-tablet {
        margin: 46px 60px;
    }
    @include media-tablet-transit {
        margin: 0 20px;
    }
}


.img-wrapper {
    background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/santa.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;

    flex: 1 1 50%;

    @include media-tablet-transit {
        flex: 1 1 auto;
        height: 528px;
    }
}