.hero {
    @include container-style($primary, 60px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/bg-snow.png"), url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/bg-ball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero__container {
    max-width: 426px;
    margin: auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .caption {
        @include caption($static-white);
    }

    .title {
        @include header(3.1rem, 500, 150%, 0.18em, center, $static-white);
    }

    .button {
        @include button();
        @include action-small(500, $static-white);
        transition: all 0.3s ease;

        &:hover {
           background-color: $static-white;
           color: $dark; 
           cursor: pointer;
           
           @include media-desktop-transit {
                background-color: $dark;
                color: $static-white;
                cursor: default;
           }
        }
    }
}