.area-outside-the-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);

    transition: display 1s ease;
}

.area-outside-the-modal_enabled {
    display: block;
}
.area-outside-the-modal_disabled {
    display: none;
}

.modal {
    //max-width: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: $content-background;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 152;

    @include media-tablet-transit {
        width: 364px;
    }
}

.modal__image-container {
    width: 100%;
    height: 230px;
    //background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/gift-for-harmony.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.modal__image-purple {
    background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/gift-for-work.png");
}
.modal__image-green {
    background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/gift-for-health.png");
}
.modal__image-pink {
    background-image: url("/sobdima-JSFEEN2024Q4/christmas-shop/assets/img/gift-for-harmony.png");
}

.modal__label {
    padding: 20px;
    border-radius: 20px;
    background-color: $static-white;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__header-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .modal__tag {
        @include header(12px, 600, 15.6px, 0.6px, left, $dark);
    }
    .modal__tag_pink {
        color: $tag-pink;
    }
    .modal__tag_purple {
        color: $tag-purple;
    }
    .modal__tag_green {
        color: $tag-green;
    }
    .modal__header {
        @include header(16px, 600, 24.32px, 1.28px, left, $dark);
    }
    .modal__description {
        @include paragraph;
    }
}

.modal__details-container {

    .modal__details-title {
        @include action-small;
        margin-bottom: 8px;
    }
}

.detail {
    display: flex;
    align-items: center;
    gap: 12px;

    .detail__title {
        flex-grow: 1;
        @include paragraph;
    }

    .detail__value {
        @include paragraph;
    }

    .detail__graphic-value-container {
        display: flex;
        gap: 8px;
        .value-point {
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.modal__close-button {
    width: 40px;
    height: 40px;
    padding: 10px;

    position: absolute;
    top: 12px;
    right: 12px;

    &::after {
        content: "";
        width: 28px;
        height: 2px;
        position: absolute;
        bottom: 19px;
        right: calc( 50% - 14px );
        background-color: $dark;
        border-radius: 100px;
        transform: rotate(-45deg);
    }
    &::before {
        content: "";
        width: 28px;
        height: 2px;
        position: absolute;
        top: 19px;
        right: calc( 50% - 14px );
        background-color: $dark;
        border-radius: 100px;
        transform: rotate(45deg);
    }

    &:hover {
        cursor: pointer;
        background-color: $primary-10;
        border-radius: 12px;
        @include disable-hover-effects {
            background-color: transparent;
        }
    }
}